<div>
<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand" >All Listed Employees</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <%= form_tag search_profiles_path, method: :get, class: "navbar-form navbar-left", role: "search" do %>
              <%= text_field_tag :search, params[:search], class: "form-control" %>
              <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
              <% end %>
              <li><%= link_to 'Log out', destroy_user_session_path, :method => :delete%></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Profile</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Department</th>
      <th>Holiday basic</th>
      <th>Holiday taken</th>
      <th>Show</th>
      <th>Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= image_tag profile.avatar.url(:thumb) %></td>
        <td><%= profile.firstname %></td>
        <td><%= profile.lastname %></td>
        <td><%= profile.email %></td>
        <td><%= profile.phone %></td>
        <td><%= profile.department %></td>
        <td><%= profile.holbasic %></td>
        <td><%= profile.annuals.count(:conditions => { :approval => true }) %></td>
        <td><%= link_to 'Show', profile %></td>
          <td>
            <%= link_to 'Edit', edit_profile_path(profile) %>
            <% if current_user.admin? %>
              <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </td>

    <% end %>
  </tbody>
  <td><%= link_to 'Annual Holidays (All users)', allann_path(@annuals), class: "btn btn-primary btn-sm" %>  
  </td>
</table>

</div>
